input:not([type='radio']):not([type='checkbox']),
select,
textarea {
  font-size: 1.6rem;
  font-weight: 400;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  width: 100%;
}

label:not(.toggle):not(:has(input[type='radio'])) {
  font-size: 1.8rem;
  font-weight: 300;
  display: grid;
  gap: 0.5rem;
  width: max-content;
}

select {
  background-image: url('../icons/chevron-down.svg');
  background-repeat: no-repeat;
  background-position: right 0.6rem center;
  background-size: 1.8rem;
  padding-right: 3rem;
  appearance: none;

  &.boolean-select {
    background-image: none;
    padding: 0.5rem 0.75rem;
  }
}

input[type='radio'] {
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  appearance: none;
  cursor: pointer;
  transition:
    background-color var(--global-animation-speed),
    border-color var(--global-animation-speed);

  &:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  min-width: max-content;
  width: 20rem;

  .radio-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  label {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
  }
}

.toggle-switch {
  --toggle-switch-width: 5rem;
  --toggle-switch-height: 2.5rem;
  --toggle-switch-slider-width: 4.8rem;
  --toggle-switch-slider-height: 2.4rem;
  --toggle-handle-width: 2rem;
  --toggle-handle-height: 2rem;

  position: relative;

  &__checkbox {
    position: absolute;
    width: var(--toggle-switch-width);
    height: var(--toggle-switch-height);
    margin: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;

    &:focus + .toggle-switch__slider {
      outline: 2px solid
        color-mix(in srgb, var(--primary-color) 50%, transparent 50%);
    }

    &:checked + .toggle-switch__slider {
      background-color: var(--primary-color);

      &::before {
        transform: translateX(var(--toggle-switch-slider-height));
      }
    }
  }

  &__slider {
    background-color: var(--light-grey);
    position: relative;
    width: var(--toggle-switch-slider-width);
    height: var(--toggle-switch-slider-height);
    border-radius: var(--toggle-switch-slider-height);
    transition: background-color var(--global-animation-speed);

    &::before {
      content: '';
      background-color: hsl(0, 0%, 100%);
      position: absolute;
      left: 0.2rem;
      top: 0.2rem;
      width: var(--toggle-handle-width);
      height: var(--toggle-handle-height);
      border-radius: 50%;
      transition: transform var(--global-animation-speed);
    }
  }
}
