---
import '../styles/index.scss';
---

<!doctype html>
<html lang="en">
  <head>
    <title>Astrolab UI</title>
    <meta name="description" content="Build Astro components in isolation" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.svg" />
    <meta charset="UTF-8" />
  </head>
  <body>
    <slot />
  </body>
</html>
